.header-bg {
  background-color: #cbd5e1;
  background-size: cover;
  height: 10%;
  width: 100%;
}
.bg-container {
  background-color: #white;
  background-size: cover;
  height: 100vh;
}
.logo {
  width: 160px;
  height: 50px;
  margin-top: 10px;
  margin-left: 150px;
}
.dropDown {
  width: 250px;
  height: 30px;
  background-color: white;
  border: 1px solid #cbd5e1;
  border-radius: 5px;
  outline: none;
  margin-top: 50px;
  margin-left: 150px;
}
.ul-list {
  padding: 0px;
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  margin-left: 115px;
  margin-right: 130px;
}
.loader {
  text-align: center;
  margin-top: 100px;
}
.fail-image {
  width: 500px;
  height: 400px;
}
.fail-bg {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.failure-img {
  width: 500px;
  height: 400px;
}
.retry-btn {
  background-color: #328af2;
  width: 100px;
  height: 35px;
  border: none;
  color: white;
  border-radius: 5px;
}
.failure-container {
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
